:root {
  --first-color: #22313f;
  --second-color: #8dc6ff;
  --third-color: #eb586f;
  --fourth-color: #a3de83;
  
  --disabled: #34495e;
  
  --white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  list-style-type: none;
}

body {
  color: var(--white);
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--first-color);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.timer {
  font-size: 4rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.buttons button {
  height: 2rem;
  width: 6rem;
  margin: 0 0.3rem;
  background: none;
  border: 2px solid var(--second-color);
  font-weight: 400;
  border-radius: 1rem;
  color: var(--second-color);
  transition: color 200ms ease, background 200ms ease;
}

button:disabled {
  background: none;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
}

button.stop {
  color: var(--third-color);
  border-color: var(--third-color);
}

button.stop:not(:disabled):hover {
  background: var(--third-color);
  color: var(--first-color);
}

button.start {
  border-color: var(--fourth-color);
  color: var(--fourth-color);
}

button.start:not(:disabled):hover {
  background: var(--fourth-color);
  color: var(--first-color);
}

/* Laps */
.lapsContainer {
  display: flex;
  width: 95%;
  background: var(--disabled);
  margin-top: 1rem;
  padding: 0.2rem;
  height: 40%;
  border-radius: 1rem 1rem 0 0;
  overflow-y: scroll;
}

ul {
  display: flex;
  flex-direction: column;
}

.lap {
  display: flex;
  background: var(--first-color);
  padding: 0.2rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.lap:not(:last-child) {
  margin-bottom: 0.3rem;
}

.lap .moment {
  display: flex;
  width: calc(100% - 2.6rem);
  justify-content: center;
  align-items: center;
  
}

.lap .moment .position {
  color: var(--disabled);
  font-size: 2rem;
  justify-self: flex-start;
  margin-right: 1rem;
}

.lap .moment .time {
  font-size: 2rem;
}

.lap button {
  display: flex;
  height: 2.6rem;
  background: var(--disabled);
  width: 2.6rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  border:2px solid var(--disabled);
  transition: border-color 100ms ease;
}

.lap button .bar {
  position: absolute;
  height: 1.2rem;
  width: 3px;
  background: var(--third-color);
  border-radius: 1rem;
}

.lap button:hover {
  border-color: var(--third-color);
}

.lap button .bar:nth-child(1) {
  transform: rotateZ(45deg);
}
.lap button .bar:nth-child(2) {
  transform: rotateZ(-45deg);
}